.box-produto {
  
  border: 1px solid;
  width: 624px;
  float: left;
  padding: 20px;

  header {
    h1 {
      margin-bottom: 20px;
    }
  }

  .img-destaque {
    display: block;
    float: left;
    margin-right: 50px;
  }

  .preco {
    font-size: 22px;
    color: #990000;
    position: relative;
    margin-bottom: 15px;

    span {
      display: inline-block;
      font-size: 12px;
      margin-left: 5px;
      top: -3px;
      position: absolute;
    }
  }
}