.questoes-tabs {
  
    float: left;
    width: 100%;
    border-top: 1px solid;
    padding-top: 20px;
    margin: 20px 0;

    .ch-box-lite {
      .tabs-content {
        background: #fff;
      }

      #tab1-a:target, #tab1-b:target {
        z-index: 1;
      }
    }

}