.questoes-tabs {
  
    float: left;
    width: 100%;
    border-top: 1px solid;
    padding-top: 20px;
    margin: 20px 0;

    .ch-box-lite {
      .tabs-content {
        background: #fff;
        z-index: -100;
      }
    }

}

a#tab1-a:checked ~  .tabs-content #tab1-a,
a#tab1-b:checked ~  .tabs-content #tab1-b {
  z-index: 100;
}